<aside>
    <button class="menu menu_close">Terug</button>
    <div class="aside_img">
        <div><img src="img/profiel%20(2).jpg" alt="Profile Elton"></div>
    </div>
    <nav>
        <ul>
            <a href="/" class="active">
                <li><span></span>Home</li>

            </a>
            <a href="/work">
                <li><span></span>Werk</li>

            </a>
            <a href="/about">
                <li><span></span>Over mij</li>

            </a>
            <a href="/contact">
                <li><span></span>Contact</li>

            </a>
        </ul>
    </nav>
</aside>
