<!--  BLOG COMMENTS -->
<section class="comments">
    <h2>COMMENTS</h2>

    <div class="do-blog-comments">
        <figure class="do-user-img">
            <img src="images/comment-img.jpg" alt="User Image" pagespeed_url_hash="981078737" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
        </figure>

        <div class="do-comments">
            <div class="do-comments-title">
                <h4 class="do-user-name"><a href="#">ADMIN</a> SAYS :</h4>
                <span class="do-comment-date-time">Dec 8, 2014  at 9.15 am</span>
            </div>

            <p>beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire there are many</p>
        </div>

        <a href="#" class="do-comment-reply-btn"><i class="pe-7s-back"></i></a>
    </div>

    <div class="do-blog-comments do-comment-reply">
        <figure class="do-user-img">
            <img src="images/comment-img.jpg" alt="User Image" pagespeed_url_hash="981078737" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
        </figure>

        <div class="do-comments">
            <div class="do-comments-title">
                <h4 class="do-user-name"><a href="#">BEER</a> SAYS :</h4>
                <span class="do-comment-date-time">Dec 8, 2014  at 9.15 am</span>
            </div>

            <p>beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire there are many</p>
        </div>

        <a href="#" class="do-comment-reply-btn"><i class="pe-7s-back"></i></a>
    </div>
</section>
<!--  BLOG COMMENTS END -->

<!--  BLOG COMMENTS FORM -->
<div class="do-comment-form-wrapper do-blog-single-inner-sec">
    <h3 class="do-comment-form-title">LEAVE A COMMENT</h3>

    <form action="#" class="do-comment-form">
        <input type="text" name="name" id="name" placeholder="Name" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
        <input type="email" name="email" id="email" placeholder="Email">
        <input type="text" name="website" id="website" placeholder="Web">
        <textarea name="message" id="message" cols="30" rows="10" placeholder="Comment"></textarea>
        <input type="submit" value="SEND" class="comment-submit do-btn-round-solid">
    </form>
</div>
<!--  BLOG COMMENTS FORM END -->
