<footer id="navigation">
    <nav>
        <ul>
            <li><a href="#page"><span class="to_top">&#171;</span> Scroll to top</a></li>
            <li><a href="/work">View some awesome work</a></li>
            <li><a href="/blog">Explore my playground/Blog</a></li>
            <li><a href="/about">Get to know me better</a></li>
        </ul>
    </nav>
    <h4>Elton Gonçalves Gomes</h4>
    <section class="social">
      <h4>Contact me whichever way you like</h4>
      <span><img src="/img/arrow.svg" alt=""></span>
      <ul>
        <li><a href="#mail"><img src="/img/email.svg" alt="send me an email"></a></li>
        <li><a href="#mail"><img src="/img/fb.svg" alt="visit my facebook"></a></li>
        <li><a href="#mail"><img src="/img/linkedin.svg" alt="visit my linked in"></a></li>
      </ul>
    </section>
</footer>
