<footer id="navigation">
    <nav>
        <ul>
            <li><a href="/work">View some awesome work</a></li>
            <li><a href="/blog">Explore my playground/Blog</a></li>
            <li><a href="/about">Get to know me better</a></li>
            <li><a href="/contact">Contact Me</a></li>
        </ul>
    </nav>
    <h4>Portfolio of Elton Gonçalves Gomes</h4>
</footer>
