<header>

    <nav>
        <ul>
            <li><a href="/about">Who am I</a></li>
            <li><a href="/blog">My blog</a></li>
            <li><a href="/work">My awesome work</a></li>
            <li><a href="/contact">Contact Me</a></li>
        </ul>
    </nav>
    <div class="profile">
        <div>
            <a href="/">
                <img src="/img/profiel%20(2).jpg" alt="Profile Elton">
            </a>
        </div>
    </div>
</header>
