<header>
    <a href="/">
        <h1>Elton Gonçalves Gomes</h1>
    </a>

    <div class="mobile-menu">
        <a href="#navigation">Menu</a>
    </div>

    <nav class="offscreen">
        <ul>
            <li><a href="#page">&#171;</a></li>
            <li class="{{#if home_active}}active{{/if}}"><a href="/">Home</a></li>
            <li class="{{#if about_active}}active{{/if}}"><a href="/about">About</a></li>
            <li class="{{#if work_active}}active{{/if}}"><a href="/work">Work</a></li>
            <li class="{{#if blog_active}}active{{/if}}"><a href="/blog">Blog</a></li>
        </ul>
    </nav>
</header>
