<section>
  <h2>Recent work</h2>

  <section class="card-overview">
    <article class="card">
        <figure>
            <img src="http://eltongoncalves.nl/werk/medialab/background.png" alt="" title="{{title}}" />
        </figure>
        <figcaption>
            <h2>Medialab Supportpagina</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
            <a href="#" class="link">View</a>
        </figcaption>
    </article>

    <article class="card">
        <figure>
            <img src="http://eltongoncalves.nl/werk/medialab/background.png" alt="" title="{{title}}" />
        </figure>
        <figcaption>
            <h2>Medialab Supportpagina</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
            <a href="#" class="link">View</a>
        </figcaption>
    </article>

    <article class="card">
        <figure>
            <img src="http://eltongoncalves.nl/werk/medialab/background.png" alt="" title="{{title}}" />
        </figure>
        <figcaption>
            <h2>Medialab Supportpagina</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
            <a href="#" class="link">View</a>
        </figcaption>
    </article>

    <article class="card">
        <figure>
            <img src="http://eltongoncalves.nl/werk/medialab/background.png" alt="" title="{{title}}" />
        </figure>
        <figcaption>
            <h2>Medialab Supportpagina</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
            <a href="#" class="link">View</a>
        </figcaption>
    </article>
  </section>
</section>
