<!DOCTYPE html>
<html lang="nl">

<head>
    <!-- Site info -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is the Portfolio of Elton Gonçalves Gomes, a frontend developer." />
    <meta name="keywords" content="frontend-developer, front end developer, front-end developer, webdeveloper, developer, portfolio, Elton, Goncalves, Gonçalves, Gomes, Elton Goncalves Gomes, Daskas " />
    <meta name="author" content="Elton Gonçalves Gomes">
    <meta name="robots" content="index, follow" />
    <meta name="revisit-after" content="3 month" />
    <title>Elton Gonçalves Gomes | Front End Developer</title>


    <!-- Custom fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300|Open+Sans+Condensed:700" rel="stylesheet">
    <!-- Custom style -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body id="page">
    {{> header}}

    {{{body}}}

    {{> footer}}

    <!-- D3.js -->
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <!-- Custom functionality -->
    <script src="/js/portfolio.js"></script>
</body>

</html>
