button,
.button {
	color: $dark-grey;
    background: $green;
	border: 1px solid transparent;
	display: inline-block;
    outline: none;
    line-height: 40px;
    padding: 0 30px;
    font-size: .8em;
    text-align: center;
	text-decoration: none !important;
	text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
	transition: all 0.3s ease 0s;
	
	
	&:hover {
		background: white;
		color: #333;
		border: 1px solid $green;
	}
}