.footer {
  background: $dark_grey;
  box-shadow: $dark_boxshadow;
  border-top: 0.1rem solid $green;
  nav {
    width: 85%;
    margin: 0 auto;
    ul {
      padding-left: 0;
      list-style: none;
      color: white;
      li {
        text-align: left;
        ul {
          padding-left: 1rem;
        }
        a {
          color: white;
        }
      }
    }
  }
  .footer__inner {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    .footer__copyright {
       color: $light_grey;
      display: inline-block;
      font-weight: lighter;
    }
    .contact {
      .contact--mobile {
        display: none;
      }
      .contact--desktop {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        color: white;
        padding: 0;
        h4 {
          margin: 0;
          display: block;
          font-weight: lighter;
          font-family: "Courgette", cursive;
        }
        span {
          margin-left: 1rem;
          margin-right: .5rem;
          transform: translateY(30%);
          svg {
            width: 2em;
            path {
              fill: white;
            }
          }
        }
        .contact__nav {
          .nav__inner {
            margin: 0;
            padding: 0;
            display: flex;
            li {
              display: inline-block;
              width: 2rem;
              height: 2rem;
              background: none;
              margin: 0 .2em;
              a {
                height: 100%;
                display: inline-block;
                border-radius: 0.3em;
                transition: 0.3s;
                svg {
                  height: 100%;
                  padding: .2em;
                  box-sizing: border-box;
                  path {
                    transition: 0.3s;
                    fill: $green;
                  }
                }
                &:hover {
                  background-color: $green;
                  svg {
                    path {
                      fill: $dark_grey;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 50em) {
    .footer__inner {
      padding: 1rem;
      flex-wrap: wrap;
      .contact {
        width: 100%;
        .contact--desktop {
          display: none;
        }
        .contact--mobile {
          display: block;
          .contact__nav {
            .nav__inner {
              list-style-type: none;
              padding: 0;
              display: flex;
              flex-wrap: wrap;
              li {
                width: 100%;
                box-shadow: $dark_boxshadow;
                margin: 0.1em;
                display: inline-block;
                background-color: rgba(151, 220, 172, 0.1);
                overflow: hidden;
                &:first-child {
                  border-radius: 0.3em 0.3em 0 0;
                }
                &:last-child {
                  border-radius: 0 0 0.3em 0.3em;
                }
                a {
                  transition: 0.3s;
                  padding: 0.7rem;
                  color: #663231;
                  text-decoration: none;
                  color: rgba(255, 255, 255, 0.7);
                  display: flex;
                  align-items: center;
                  text-align: left;
                  svg {
                    width: 1.3em;
                    margin-right: 1em;
                    margin-left: .2em;
                    path,
                    polygon {
                      fill: $green;
                    }
                  }
                  &:hover,
                  &:active {
                    background-color: rgba($green, 0.5);
                    color: white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}