$primary-color: $dark-grey;

.footer {
  background-color: $dark-grey;
  padding: 120px 0;
	.footer__title {
		margin-bottom: 1.5rem;
		font-weight: bold;
	}

	.footer__link {
		margin-bottom: 0.5rem;
	}

	a {
    color: $dark-grey;
    svg {
      fill: $white;
      path {
        fill: $white;
      }
    }
	}
  .single-footer-widget{
    text-align: left;
    h4{
        color: $white!important;
        margin-bottom: 25px;
        font-weight: 500;
    } 
    .form-control{
        border: none;
        width: 80%!important;
        font-weight: 300;
        background: #f9f9ff;
        padding-left: 20px;
        border-radius: 0;
        font-size: 14px;
        line-height: normal!important;
        color:$black;
        &:focus {
            box-shadow: none;
            color:$black;
        }
    }
    ul li {
        margin-bottom: 10px;
        a {
            color: $text-color;
            &:hover {
                color: $primary-color;
            }
        }
    }
  
    .footer-social{
        a{
            width: 30px;
            height: 30px;
            display: inline-block;
            text-align: center;
            i{
                vertical-align: bottom;
                color:$white;
            }
            &:hover{
                i{
                      color:$primary-color;
                }
              
            }
        }
    }    
  }

  .footer-text{
    color: $white;
  }

  p {
    color: $white;
    a {
      color: $white;
    }
  }
}