.form-area {
	.form-group {
		label {
			display: block;
			position: relative;
			margin-bottom: .5rem;
			span {
				margin-bottom: .5rem;
				display: inline-block;
			}
		}
		&:first-child {
			margin-bottom: 0;
		}
	}

	.form-control{
		border: none;
		&:focus{
			box-shadow: none!important;
			border-color:#ced4da!important;
		}
	}
	input {
		padding: 15px;
		margin-bottom: 1rem;
	}
	input,
	textarea,
	select {
		border-radius: 0;
		font-size: 13px!important;
	}
	select {
		color: #495057;
	}
	textarea {
		height: 190px;
		margin-top: 0px;
		padding: 15px;
		resize: none;
	}
	.genric-btn {
		border-radius: 0!important;
		font-size: 14px;
		text-transform: uppercase!important;
	}
}