.intro {
  display: inline-block;
  height: 20em;
  width: 100%;
  .intro__inner {
    padding: 5em 0;
    background-color: white;
    margin: 0 auto;
    border-radius: 0.3rem;
    box-shadow: $dark_boxshadow;
    max-width: $grid-large;
    transform: translateY(-50%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .intro__text {
      max-width: $grid-medium;
      margin: 0 auto;
      color: #333;
      padding: 2rem;
      .text__title {
        font-style: normal;
        text-align: center;
        margin-top: 0;
        text-transform: uppercase;
      }
      .text__paragraph {
        font-style: normal;
        text-align: left;
      }
      .text__link {
        text-align: center;
        font-style: normal;
        color: $red;
        text-decoration: none;
        font-weight: bold;
        transition: 0.3s;
        padding: 1rem;
        display: block;
        &:hover {
          color: $green;
        }
      }
    }
  }

  @media (max-width: 50em) {
    display: block;
    height: 100%;
    .intro__inner {
    box-shadow: none;
      transform: translateY(0);
      max-width: 100%;
      padding: 2em 0;
      .intro__text {
        .text__title {
          text-align: left;
        }
      }
    }
  }
}