.portfolio {
  padding: 5em 0;
  .filters {
    text-align: center;
    display: block;
    ul {
      padding: 0;
      list-style: none;
      margin: 0;
      li {
        list-style: none;
        display: inline-block;
        padding: 18px 15px;
        cursor: pointer;
        position: relative;
        text-transform: uppercase;
        color: #222;
        font-size: 12px;
        font-weight: 500;
        transition: color .3s ease-in-out;
        &.active {
          color: $green;
        }
      }
    }
  }

  .filters-content {
    margin-top: 50px;
    .item {
      display: block;
      margin-bottom: 2rem;
      .relative {
        position: relative;
        .thumb {
          height: 200px;
          overflow: hidden;
          border: 1px solid #ededed;
          border-radius: 4px;
          img {
            box-shadow: none
          }
        }
      }
      .p-inner {
        padding-top: 10px;
        text-align: center;
      }
    }
  }
}