.portfolio {
  padding: 5em 0;
  .filters {
    text-align: center;
    display: block;
    ul {
      padding: 0;
      list-style: none;
      margin: 0;
      li {
        list-style: none;
        display: inline-block;
        padding: 18px 15px;
        cursor: pointer;
        position: relative;
        text-transform: uppercase;
        color: #222;
        font-size: 12px;
        font-weight: 500;
      }
    }
  }

  .filters-content {
    min-height: 100px;
    .item {
      height: 200px;
      width: 200px;
      .item__summary {
        img {
          width: 100%;
        }
      }
    }
  }
}