.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 998;
  box-sizing: border-box;
  .modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba($dark_grey, 0.99);
    width: 100%;
    height: 100%;
    display: block;
    z-index: 997;
    overflow-y: hidden;
  }
  .modal__content {
    position: fixed;
    z-index: 998;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    img {
      display: block;
      box-shadow: $dark_boxshadow;
      height: 95%;
      width: auto;
      border-radius: 0.3rem;
    }
  }
  .modal__button {
    border: none;
    border-radius: 0.1em;

    color: white;
    font-size: 1.5rem;

    width: 2em;
    height: 2em;

    position: fixed;
    top: 1rem;
    right: 2rem;
    z-index: 999;

    background-color: $red;
  }
}

// section {
  // padding-bottom: 4rem;
// }

/*carousel*/
.carousel {
  outline: 0;
  padding: 1rem;

  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;

  cursor: grab;

  .carousel-cell {
    margin: 0 0.5rem;
    box-shadow: 0 0 1.5rem 0rem $light_grey;
    width: 10rem;
    height: 6rem;
    border-radius: 0.3rem;

    transition: 0.3s;
    opacity: 0.5;
    transform: scale(0.8);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    a {
      display: block;
      width: 100%;
      height: 14em;
      overflow: hidden;
      img {
        width: 100%;
      }
    }

    span {
      margin-top: 1rem;
    }
    &.is-selected {
      opacity: 1;
      transform: scale(1);
    }
  }
  .flickity-viewport {
    transition: height 0.2s;
    margin-bottom: 1rem;
  }
}

@media (max-width: 50em) {
  .modal {
    .modal__content {
      img {
        box-shadow: $dark_boxshadow;
        height: auto;
        width: 90%;
        border-radius: 0.3rem;
      }
    }
  }
}