<main>
	<header>
		<h1>Let me introduce myself</h1>
		<hr>
		<p>Hello, I’m a Front End Developer from Holland who likes to experiment on new things.</p>
	</header>
	<section class="about">
		<section class="contact-info">
			<img src="/img/fabio-bezerra-89236.jpg" width="200">
			<h3 class="about-subtitle">Personal Information</h3>
			<ul>
				<li>Elton Gonçalves Gomes</li>
				<li><a href="mailto:eltongoncalves@gmail.com">eltongonc@gmail.com</a></li>
				<li>Amsterdam, The Netherlands</li>
			</ul>
		</section>
		<section class="description">
			<p>The positive and also the negative part of me is that i want to learn everything. My curiosity level is really high. For example: I am the guy who aids others in things i know nothing about and learns from it. With that being said I focuse on becoming a better version of my previous self. When in doubt, I always take a step back and think things through. My friends view me as a tutor and seek my guidance because of my calm personality.</p>

			<section id="skills">
				<h3>My prefered tools and language</h3>
				<ul>
					<li>Node.js</li>
					<li>Vanilla JS</li>
					<li>CSS</li>
					<li>HTML</li>
				</ul>
				<h3>Basic knowledge of</h3>
				<ul>
					<li>PHP</li>
					<li>SQL/mongoDB</li>
					<li>jQuery</li>
					<li>Illustrator</li>
					<li>Photoshop</li>
					<li>Indesign</li>
					<li>Python</li>
				</ul>
			</section>

		<a class="link" href="#download">Download Resume</a>
	</section>

</section>
</main>
