<main>
  <h1>Let me introduce myself</h1>
  <hr>
  <p>Hello, I’m a Front End Developer from Holland who likes to experiment on new things.</p>
    <section id="about">
      <section>
        <img src="/img/fabio-bezerra-89236.jpg" width="200">
        <h3 class="about-subtitle">Personal Information</h3>
        <ul>
          <li>Elton Gonçalves Gomes</li>
          <li><a href="mailto:eltongoncalves@gmail.com">eltongonc@gmail.com</a></li>
          <li>Amsterdam, The Netherlands</li>
        </ul>
      </section>
            <article class="description">
                <h3 class="about-subtitle">A little bit about me</h3>
                <p>The positive and also the negative part of me is that i want to learn everything. My curiosity level is really high. For example: I am the guy who aids others in things i know nothing about and learns from it. With that being said I focuse on becoming a better version of my previous self. When in doubt, I always take a step back and think things through. My friends view me as a tutor and seek my guidance because of my calm personality.</p>
                    <p>I am not a designer but I know how to use photoshop, illustrator, indesign and even premiere pro</p>
                    <p>I am not a backend developer,  but i have a lot of Nodejs, basic python and php knowledge</p>
                    <p>I am a Front-end developer who likes to experiment on new things. The web has become my playground.</p>
                </ul>
                <a href="#download">Download Resume</a>
            </article>

        </section>

        <section id="skills">
          <h3>My knowledge</h3>
            <ul>
              <li>Node.js</li>
              <li>SQL</li>
              <li>JS</li>
              <li>jQuery</li>
              <li>CSS</li>
              <li>HTML</li>
            </ul>
            <ul>
              <li>PHP</li>
              <li>Illustrator</li>
              <li>Photoshop</li>
              <li>Indesign</li>
              <li>Python</li>
              <li>Unknown</li>
            </ul>
        </section>
</main>
