<main>
  <h1>Page under construction</h1>
  <hr>
    <section class="blogposts">
        <!-- BLOG SINGLE CONTENT -->
        <article>
            <figure>
                <!-- <img width="200" src="" alt="Blog Single Image"> -->
            </figure>

            <section class="content">
                <!--  POST TITLE -->
                <section>
                    <h1>I'm working on making this site better</h1>
                </section>
                <!--  POST TITLE END-->

                <!--  POST TEXT -->
                <!-- <a href="#.com" class="do-btn-round-outline">SHARE</a> -->
                <!--  POST TEXT END -->
            </section>
        </article>
        <!-- BLOG SINGLE CONTENT END -->

    </section>
</main>
