<main class="home">
    <h1>Hi! I'm Elton, I love to code</h1>
    <section>
        <ul>
            <li><a href="/about">I'm A frontend developer</a></li>
            <li><a href="/blog">My blog</a></li>
            <li><a href="/work">My awesome work</a></li>
            <li><a href="/contact">Contact Me</a></li>
        </ul>
    </section>
</main>
