<main id="home">
    <h1>Hi! I'm Elton, I love to code</h1>
    <section>
        <figure>
            <img class="z-depth-1" src="img/profiel%20(2).jpg" alt="">
        </figure>
        <ul>
            <li class="item"><a href="/about">Hello, I’m a Front End Developer.</a></li>
            <li class="item"><a href="/blog">My blog</a></li>
            <li class="item"><a href="/work">My awesome work</a></li>
            <li class="item"><a href="/contact">Contact Me</a></li>
        </ul>
    </section>
</main>
