<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Data visualization</title>

    <!-- Custom style -->
    <link rel="stylesheet" href="./css/portfolio.css">
</head>
<body>
    <section>
        <header>
            <figure>
                <img src="./img/logo.png" alt="logo" width="86">
            </figure>
        </header>

        <article>
            <h1>Data visualization</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p> aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </article>

        <footer>
            <ul>
                <li>
                    Projects
                    <span>99</span>
                </li>
                <li>
                    Projects
                    <span>99</span>
                </li>
                <li>
                    Projects
                    <span>99</span>
                </li>
                <li>
                    Projects
                    <span>99</span>
                </li>
            </ul>
        </footer>
    </section>

    <aside>
        <header>
            <nav>
                <ul>
                    <li><a href="#Projects">Projects</a></li>
                    <li><a href="#Contact">Contact</a></li>
                </ul>
            </nav>
        </header>

        <figure>
            <img src="./img/data-vis.png" alt="" width="600">
            <figcaption>Data visualization</figcaption>
        </figure>
        <footer></footer>
    </aside>
</body>
</html>
