<main class="list">
    <section>
            <article>
                <figure>
                    <img src="{{image}}" alt="Blog Single Image">

                    <figcaption class="thumbnails">
						<div class="small-img-temp">
						</div>
						<div class="small-img-temp">
						</div>
						<div class="small-img-temp">
						</div>
						<div class="small-img-temp">
						</div>
                    </figcaption>
					<a class="link" href="{{externalLink}}">Visit the site</a>
                </figure>

                <section class="content">
                    <section>
						<h1>{{{title}}}</h1>
						<hr>
                    </section>

                    {{{content}}}
                </section>
            </article>
        <!-- <footer>
            <ul>
                <li>
                    Projects
                    <span>99</span>
                </li>
                <li>
                    Projects
                    <span>99</span>
                </li>
                <li>
                    Projects
                    <span>99</span>
                </li>
                <li>
                    Projects
                    <span>99</span>
                </li>
            </ul>
        </footer>
        <footer></footer> -->
    </section>
</main>
