<main>
    <section>
        <h1>Hi! I'm Elton, I love to code</h1>
    <ul>
        <li><a href="/work/test">Work 1</a></li>
        <li><a href="/work/test">Work 1</a></li>
        <li><a href="/work/test">Work 1</a></li>
        <li><a href="/work/test">Work 1</a></li>
        <li><a href="/work/test">Work 1</a></li>
    </ul>
    </section>
</main>
