$red: #663231;
$green: #97dcac;
$grey: #E5DCC3;


@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans+Condensed:300|Open+Sans:400,800');
$font-regular: 'Open Sans', sans-serif;
$font-thin: 'Open Sans Condensed', sans-serif;
$font-decor: 'Courgette', cursive;

// @import "./components/reset";
//
/**********
** General
**********/
* {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
}
body {
	background-color: $grey;
	font-family: $font-regular;
	margin: 0;
	padding: 2em;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
	font-family: $font-regular;
	margin: 0;
}

p {
	color: #333;
}
header, footer {
	a {
		color: $red;
	}
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

figure {
	margin: 0;
}

/**********
** colors
**********/

/**********
** layout
**********/



@import "./components/header.scss";

main {
	position: relative;
	height: 90%;
	margin-top: 1em;
	padding-left: 1em;
	padding-top: 4em;

	article {
		padding-left: 7em;
		height: 50%;
		width: 99%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		border: solid white;
	}
	h1 {
		box-sizing: border-box;
		font-size: 5em;
		color: $red;
		text-transform: none;
	}

	section {
		background: black;
		background-image: url("/img/profiel%20(2).jpg");
		background-size: cover;
		background-size: 50% 100%;
		background-repeat: no-repeat;
		background-position: right;
		position: absolute;
		top: 6%;
		left: 0;
		width: 100%;
		height: 50%;
		z-index: -1;
		overflow: hidden;

		div {
			display: block;
			background:$grey;
			width: 75%;
			height: 150%;
			transform: rotate(45deg);
		}
	}
}


@import "./components/footer.scss";

/**********
** helpers
**********/
.hidden {
	display: none;
}
