@import url("https://fonts.googleapis.com/css?family=Courgette|Open+Sans+Condensed:300|Open+Sans:400,800");
/**********
** General
**********/
* {
  box-sizing: border-box; }

html,
body {
  height: 100%; }

body {
  background-color: #E5DCC3;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 2em;
  box-sizing: border-box; }

a {
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  margin: 0; }

p {
  color: #333; }

header a, footer a {
  color: #663231; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

figure {
  margin: 0; }

/**********
** colors
**********/
/**********
** layout
**********/
/**********
** header
**********/
header {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(102, 50, 49, 0.1); }
  header.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99; }
    header.sticky a {
      color: #663231; }
  header nav {
    display: block;
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: width .3s ease-in;
    background-color: #663231;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
    header nav.offscreen {
      top: 0;
      right: 0;
      visibility: hidden;
      opacity: 0;
      height: 0;
      width: 0; }
  header ul {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: inherit;
    height: inherit;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  header li {
    display: inline-block; }
    header li a {
      font-size: 3em;
      font-size: bold;
      width: 100%;
      text-align: center;
      color: #E5DCC3; }
  @media (max-width: 50em) {
    header > h1 {
      height: 1.5em;
      overflow: hidden; } }

.mobile-menu {
  position: relative;
  z-index: 999;
  background-color: rgba(229, 220, 195, 0.7);
  font-weight: bold;
  height: 100%;
  padding: 0.5em 1em;
  transition: .3s;
  display: inline-block;
  width: 3em; }
  .mobile-menu a {
    color: #663231; }
  @media (min-width: 50em) {
    .mobile-menu {
      display: none; } }

main {
  position: relative;
  height: 90%;
  margin-top: 1em;
  padding-left: 1em;
  padding-top: 4em; }
  main article {
    padding-left: 7em;
    height: 50%;
    width: 99%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: solid white; }
  main h1 {
    box-sizing: border-box;
    font-size: 5em;
    color: #663231;
    text-transform: none; }
  main section {
    background: black;
    background-image: url("/img/profiel%20(2).jpg");
    background-size: cover;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    top: 6%;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: -1;
    overflow: hidden; }
    main section div {
      display: block;
      background: #E5DCC3;
      width: 75%;
      height: 150%;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }

/***
** Footer
***/
body > footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  padding: 1em;
  border-top: 1px solid rgba(102, 50, 49, 0.1); }
  body > footer h4 {
    width: 100%;
    text-align: center;
    padding: 1em 0;
    color: white; }
  body > footer ul li {
    margin: .3em 0;
    width: 100%;
    display: inline-block;
    background-color: rgba(102, 50, 49, 0.1); }
    body > footer ul li a {
      display: block;
      padding: 1em; }
    body > footer ul li:hover, body > footer ul li.active {
      background-color: rgba(151, 220, 172, 0.5); }
  body > footer .social li {
    background: none; }
  body > footer .social h4, body > footer .social span {
    display: none; }
  body > footer .social ul li {
    width: 3em; }
  body > footer .social img {
    width: 100%; }
  body > footer .social a {
    padding: .5em; }
  @media (min-width: 50em) {
    body > footer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      body > footer nav {
        display: none; }
      body > footer h4 {
        width: auto;
        display: inline; }
      body > footer .social {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
        body > footer .social > * {
          margin-right: 1em; }
        body > footer .social span {
          display: block; }
        body > footer .social img {
          width: 2em; }
      body > footer .social h4 {
        display: block;
        font-family: "Courgette", cursive;
        text-transform: capitalize;
        font-weight: lighter; } }

.to_top {
  display: inline-block;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

/**********
** helpers
**********/
.hidden {
  display: none; }
