/***
** Footer
***/
footer {
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    padding: 1em;
    
    a{
        text-decoration: none;
        color: #663231;
        margin-right: 2em;
    }
    h3{
        color: #663231;
    }
    i.fa{
        font-size: 2.4em;
    }
}


@media(max-width:50em) {
    footer, footer section {
        height: auto;
    }
}
