/***
** Footer
***/

body > footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 700;
    padding: 1em;
    background-color: white;
    background: $red;
    h4 {
      width: 100%;
        text-align: center;
        padding: 1em 0;
        color: white;
    }
    .social {
      h4, span {
        display: none;
      }

      ul li {
        width: 3em;
      }
      img {
        width: 100%;
      }
      a {
        padding: .5em;
      }
    }
    ul {
      padding: 0;
      text-align: center;
      margin: 0;
      li {
        margin: .3em;
        width: 100%;
        display: inline-block;
        background-color: rgba($grey, 0.5);
        a {
          padding: 1em 1.5em;
          transition: .1s;
          color: $red;
          display: block;
          max-width: 100%;
        }
        &:hover, &.active  {
          background-color: rgba($green, 0.5);
        }
      }
    }
    @media(min-width:50em) {
      display: flex;
      justify-content: space-between;
      nav {
        display: none;
      }
      h4 {
        width: auto;
        display: inline;
      }
      .social {
        display: flex;
        align-items: center;
        justify-content: space-around;
        >* {
          margin-right: 1em;
        }
        span {
          display: block;
        }
        img {
          width: 2em;
        }
      }
        .social h4 {
          display: block;
          font-family: $font-decor;
          text-transform: capitalize;
          font-weight: lighter;
        }
    }
}

.to_top {
  display: inline-block;
    transform: rotate(90deg);
}
