/***
** Footer
***/

body > footer {
	background: $red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 700;
    padding: 1em;
    h4 {
      width: 100%;
        text-align: center;
        padding: 1em 0;
        color: white;
    }
    ul li {
        margin: .3em 0;
        width: 100%;
        display: inline-block;
		background-color: rgba($green,0.1);
        a {
			color: rgba(white, 0.7);
          display: block;
		  padding: 1em;
        }
        &:hover, &.active  {
          background-color: rgba($green, 0.5);
        }
      }
	  .social {
		  li {
			  background: none;
		  }
		  h4, span {
			  display: none;
		  }

		  ul li {
			  width: 3em;
		  }
		  img {
			  width: 100%;
		  }
		    a {
		      padding: .5em;
		    }
	  }

    @media(min-width:50em) {
      display: flex;
      justify-content: space-between;
      nav {
        display: none;
      }
      h4 {
        width: auto;
        display: inline;
      }
      .social {
        display: flex;
        align-items: center;
        justify-content: space-around;
        >* {
          margin-right: 1em;
        }
        span {
          display: block;
        }
        img {
          width: 2em;
        }
      }
        .social h4 {
          display: block;
          font-family: $font-decor;
          text-transform: capitalize;
          font-weight: lighter;
        }
    }

	// height: 10%;
// 	display: flex;
// 	justify-content: space-between;
	border-top: 1px solid rgba($red,0.1);
// 	> * {
// 		flex-grow: 1.5;
// 	}
// 	nav {
// 		width: 100%;
// 		display: flex;
// 		justify-content: flex-end;
// 	}
// 	ul {
// 		padding: 0;
// 	}
// 	li {
// 		display: inline-block;
// 		width: 5em;
// 	}
}

.to_top {
  display: inline-block;
    transform: rotate(90deg);
}
