/**********
** header
**********/
header {
  background-color: $red;
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  box-sizing: border-box;
  &.sticky{
        position: fixed;
        top: 0;
        width: 100%;
        background: white;
        z-index: 99;
        a {color: $red;}
        h1 {color: $red}
  }

  nav ul {
    display: flex;
    justify-content: space-between;

  }

  nav {
    height: 100%;
    transition: 1s;
    button {
      display: none;
    }
    ul {
      text-align: center;
      margin: 0;
      li {
        margin-right: .3em;
        display: inline-block;
        background-color: rgba($grey, 0.7);
        a {
          font-weight: bold;
          height: 100%;
          padding: 0.5em 1em;
          transition: .1s;
          color: $red;
          display: inline-block;
          width: 3em;
        }
        &:hover, &.active  {
          background-color: rgba($green, 0.7);
        }
      }
    }
    // mobile
    @media (max-width: 50em){
      position: absolute;
      top: 9.9em;
      right: 0;
      width: 50%;
	  background: $red;
	  z-index: 999;

	ul {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 30%;
		li:first-child{
			display: none;
		}
		li {

			background-color: rgba($grey, 1);
		}
		li a {
			width: 100%;
			height: 2em;
			opacity: 1;
		}
	}

      &.offscreen {
        // right: -999px;
        width: 0;
		height: 100%;
        overflow: hidden;
      }
    }
  }
  [href="#page"] {
    transform: rotate(90deg);
    position: relative;
    bottom: .5em;
    right: 0.5em
  }
}

.mobile-menu {
    position: relative;
    background-color: rgba($grey, 0.7);
    font-weight: bold;
    height: 100%;
    padding: 0.5em 1em;
    transition: .3s;
    display: inline-block;
    width: 3em;
    a {color: $red;}
    @media (min-width: 50em){
      display: none;
    }
}
