/*****************
**** Header
*****************/

header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    // border-bottom: .1em solid $red-accent;
    padding: 1em 2em;
    border: .1em solid $red-accent;

    .profile {
        display: block;
        border-radius: 50%;
        position: relative;

        div {
            height: 6em;
            width: 6em;
            overflow: hidden;
            border-radius: 50%;
        }
        div::after,
        div::before {
            content: "";
            height: 7em;
            width: 7em;
            border-radius: 50%;
            position: absolute;
            z-index: -1;
        }
        div::before {
            top: .5em;
            right: 0;
            background-color: $green-accent;
        }
        div::after {
            top: 0;
            left: 0;
            background-color: $red-accent;
        }


        img{
            height: 100%;
            position: relative;
            right: 35%
        }
    }

    .logo{
        height: 100%;
        float: right;

        img{
            height: 100%;
            float: right;
        }
    }

    nav {
        width: 100%;
        height: 100%;
        transition: 1s;

        ul {
            text-align: center;

            li {
                display: inline-block;
                margin-right: 2em;
            }
        }
    }
    svg {
        display: none;
    }
}

// header.off-screen nav {
//     height: 0;
//     overflow: hidden;
// }

.blobs{
    filter:url('#goo');
    position:absolute;
    width: 100%;
    top: 40%;
}

$dist-x:4.5em;
$dist-y:4.5em;


.blob{
    position: absolute;
    background: $green-accent;
    color: white;
    left: 15%;
    top: 60%;
    border-radius: 100%;
    margin-top: -50px;
    margin-left: -50px;
    width: 5.2em;
    height: 5.2em;
    transition: cubic-bezier(0.770, 0.000, 0.175, 1.000) 1s;
    a {
        line-height:100px;
        text-align:center;
        color:white;
    }
    &.toggle {
        z-index: 1
    }
}

.transition0 {
    transform: scale(.5) translate(0,-4.5em)
}

.transition1 {
    transform: scale(.8) translate(0em,4.5em);
}

.transition2 {
    transform: scale(.8) translate(5em,4.5em);
}

.transition3 {
    transform: scale(.8) translate(10em,4.5em);
}
.transition4 {
    transform: scale(.8) translate(15em,4.5em);
}
