/*****************
**** Header
*****************/

header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: .1em 1em;
    align-items: center;
    background: white;
    margin-bottom: 1em;
    border-radius: .3em;
    box-shadow: 0 0 1em 0.1em $light-fonts;


    .profile {
        display: block;
        border-radius: 50%;
        position: relative;

        div {
            height: 6em;
            width: 6em;
            overflow: hidden;
            border-radius: 50%;
        }
        div::after,
        div::before {
            content: "";
            height: 7em;
            width: 7em;
            border-radius: 50%;
            position: absolute;
            z-index: -1;
        }
        div::before {
            top: .5em;
            right: 0;
            background-color: $green-accent;
        }
        div::after {
            top: 0;
            left: 0;
            background-color: $red-accent;
        }


        img{
            height: 100%;
            position: relative;
        }
    }

    .logo{
        height: 100%;
        float: right;

        img{
            height: 100%;
            float: right;
        }
    }

    @media (min-width: 50em){
        a[href='#navigation']{
            display: none
        }
    }
    nav {
        height: 100%;
        transition: 1s;
        @media (max-width: 50em){
            display: none;
        }
        button {
            display: none;
        }
        ul {
            text-align: center;
            margin: 0;
            li {
                display: inline-block;
                a {
                    padding: 1em;
                    border-bottom: .3em solid white;
                    transition: .3s;
                }
                a:hover, &.active a {
                    border-bottom: .3em solid $red-accent
                }
            }
        }
    }
    svg {
        display: none;
    }
}

header .mobile-menu {
    position: relative;
    .sub-nav {
        animation: .3s expand ease-in-out;
        position: absolute;
        width: 10em;
        border-radius: .3em;
        background: $red-accent;
        top: 1.3em; 
        right: 0;
        padding: .5em;
        z-index: 1;
        a {
            color: white;
            display: block;
        }
    }
    @keyframes expand{
        from {
            height: 0%;
            overflow: hidden;
        }
        to {
            height: 100%
        }
    }
    .sub-nav::before {
        content: '';
        width: 1em;
        height: 1em;
        position: absolute;
        top: 0;
        background: #607D8B;
        right: 0.9em;
        top: -.3em;
        transform: rotate(45deg);
        border-radius: .3em;
    }
}

