* {
    box-sizing: border-box;
    list-style: none;
    font-weight: 300
}

a {
    text-decoration: none;
}

ul,
ol {
    padding-left: 0
}

figure {
    margin: 0;
}
figcaption {
    margin: 0;
}


button {
    border: none;
}

*:focus {
    outline: $red-accent;
    background-color: $red-accent;
    color: white;
    border: 0;
    transition: .3s;
}
