.about {
.about__content {
	padding: 8em 0;
	max-width: 80% ;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: row-reverse;
	.content__photo {
	width: 20em;
	height: 20em;
	overflow: hidden;
	border-radius: .3em;
	box-shadow: $dark_boxshadow;
	margin-left: 5rem;
	.photo {
		height: 100%;
	}
	}
	.content__subtitle {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	text-align: left;
	max-width: 32rem;
	p {
		margin-top: 0;
	}
	}
}
@media (max-width: 50rem) {
	.about__content {
	flex-wrap: wrap;
	padding-top: 4em;
	.content__photo {
		margin: 0;
		margin-bottom: 4em;
		width: 15em;
		height: 15em;
	}
	}
}
}