.details {
	margin-bottom: 5em;

	.details__back {
		color: white;
		position: fixed;
		top: 7rem;
		left: -3em;
		width: 5em;
		padding: 1em;
		text-align: right ;
		margin-left: 0;
		z-index: 999;
		transition: opacity .3s;
		opacity: 1;
		border-radius: 0.2em;
		background: #663231;
		text-decoration: none;

		&.transparant {
			opacity: 0.1;
			&:hover {
				opacity: 1;
			}
		}
	}
	.details__content {
		padding: 2em;
		padding-top: 5em;
		margin-bottom: 4em;
		h3 {
			font-size: 1.3rem;
			margin-top: 4rem;
		}
		.content__lead {
			text-align: left;
			font-style: italic;
			font-size: 1.2em;
			max-width: $grid-medium;
			margin: 0 auto;
		}
		.content__body {
			text-align: left;
			font-size: 1.2em;
			max-width: $grid-medium;
			margin: auto;
			ul {
				padding-left: 0;
				li {
					font-size: 1.2em;
					list-style: none;
					color: #663231;
					margin: .5em;
					width: 10em;
					margin:auto;
				}
			}
			img {
				width: 100%;
			}
		}
		.content__video {
			.video {
				height: 25rem;
				max-width: 100%;
				margin: auto;
			}
		}
	}
}

.links {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	.links--external,
	.links--github {
		transition: .3s;
		border-radius: 0.3rem;
		color: white;
		width: 15em;
		padding: 1em;
		/*height: 15em;*/
		position: relative;
		overflow: hidden;
		margin: .1em;
		background: #663231;
		text-decoration: none;
	}
}

@media (max-width: 50em) {
	.details {
		.details__back {
			top: 5em;
		}
		.details__content {
			.content__video {
				iframe {
					height: 10rem;
				}
			}
		}
	}
}