.details {
	margin-top: 7rem;
	img {
		border: 1px solid $light_grey;
	}
	.details__back {
		color: white !important;
		position: fixed;
		top: 7rem;
		left: -1em;
		width: 5em;
		padding: 1em;
		text-align: right ;
		margin-left: 0;
		z-index: 999;
		transition: opacity .3s;
		opacity: 1;
		border-radius: 0.2em;
		background: #663231;
		text-decoration: none;
		cursor: pointer;

		&.transparant {
			opacity: 0.1;
			&:hover {
				opacity: 1;
			}
		}
	}
	.details__content {
		h3 {
			font-size: 1.4rem;
			margin-top: 2rem;
			font-weight: bold;
		}
		.content__lead {
			text-align: left;
			font-style: italic;
			font-size: 1.2rem;
			margin: 0 auto;
			margin-top: 2rem;
		}
		.content__body {
			text-align: left;
			font-size: 1.2rem;
			margin: auto;
			ul {
				padding-left: 0;
				li {
					list-style: none;
				}
			}
			img {
				width: 100%;
			}
		}
		.content__video {
			display: flex;
			flex-direction: column;
			.video {
				max-height: 25rem;
				align-self: center;
				max-width: 100%;
				margin: auto;
			}
		}

	}
	.content__screenshots {
		.images {
			margin-top: 2rem;
			img {
				width: 100%;
				margin-bottom: 1rem;
			}
		}
	}
}

.links {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	.links--external,
	.links--github {
		transition: .3s;
		margin: .1em;
	}
}

@media (max-width: 50em) {
	.details {
		.details__back {
			top: 5em;
		}
		.details__content {
			.content__video {
				iframe {
					height: 10rem;
				}
			}
		}
	}
}